.header {
    padding:1px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }